<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>手机登录系统</title>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>

<link type="text/css" href="../static/css/style.css" rel="stylesheet" />

</head>
<body id="loginq">

<div class='particle-network-animation'></div>

                    <div class="denglu">
						<div class="DLlogo">
							<div class="DengLulogo">
								<img src="../static/img/DQLOGO.png"width="100%" height="100%">
							</div>/
							<div class="Logotext">手机大卖场</div>
						</div>
						<form id="loginForm">
						
						<div class="zhong">
							<div class="kuang">
								<div class="youhuimg"><img src="../static/img/yonghu.png"width="100%"height="100%"></div>
								<input class="logininput" placeholder="请输入账号" type="text" value="admin" />
							</div>
							<div class="kuang"> 
								<div class="youhuimg"><img src="../static/img/mima.png"width="100%" height="100%"></div>
								<input class="logininput" placeholder="请输入密码"  id="user_password" type="password" value="123456" />	
							</div>
							<div style="text-align: left; margin-left: 10px; margin-top: -10px; color: #FFF;height: 20px;">
									<b></b>
							</div>
						    <div>
								<button id="loginbtn" type="button" class="positive" name="Submit" onclick="location.href='/index'">登录主系统</button>

							</div>
							<!-- <div class="wjmm">忘记密码？</div> -->
						</div>
						</form>
						
					</div>

<script type="text/javascript">
</script>


<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
